#submitButton {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  width: 80%;
  border-radius: 10px;
  background-color: rgb(255, 254, 254);
  color: black;
}

#warning-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#admin-layout {
  /* background-color: red; */
  display: flex;
}

#items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#generated-file {
  overflow-wrap: anywhere;
  margin-left: 25px;
  margin-right: 25px;
}

#logo {
  width: 75px;
  height: 75px;
}

.App {
  background-image: linear-gradient(
    to right bottom,
    #1667e1,
    #1e54c0,
    #1e42a1,
    #193183,
    #122166
  );
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  min-height: 1000px;
  padding-top: 35px;
}

#header {
  background-color: white;
  width: 70%;
  height: 66px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 6%;
}

#buttonDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
